html,body{
	height:100%;
}

nav ul{height:200px; width:80%;}
nav ul{overflow:hidden; overflow-y:scroll;}

body{
	background: #000000;
	margin:0;
	padding:0;
	position: relative;
	font-family: 'American Typewriter','Marker Felt';
	overflow-x: hidden;
	overflow-y: hidden;
}

#tetris{
	left:50%;
	top:50%;
	position: absolute;
	background: #555;
	background:rgba(.9,.9,.9,.60);
	
}

#scene{
	height:100%;
	position: absolute;
	background: #2f2f2f;
	left:210px;
	background:rgba(.9,.9,.9,.80);
}


#leftSide {
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	width:210px;
	text-align: center;
	background:rgba(.9,.9,.9,.60);
}

#leftInfo{
	height:100%;
	width:210px;
	margin:0 auto;
	background:rgba(.9,.9,.9,.60);
}

#hold{
	position:relative;
	width:80px;
	height:435px;
	background: #2f2f2f;
	margin:10px auto;
	background:rgba(.9,.9,.9,.60);
}

#gameOver{
	height:100%;
	position: absolute;
	right:120px;
	left:210px;
	background:rgba(0,0,0,.75);
	z-index:999;
	color:#ffe100;
	text-align: center;
	display: none;
}

#gameOver h1{
	margin-top:50%;
}

#gameOver a,#gameOver a:visited{
	color:#66bc29;
	text-decoration: none;
}

#gameOver h3{
	color:orange;
}

#side{
	height:100%;
	position: absolute;
	top:0;
	right:0;
	left:560px;
	text-align: center;
	background:rgba(.9,.9,.9,.70);
}

#info{
	width:210px;
	left:210px;
	margin:0 auto;
	background:rgba(.9,.9,.9,.70);
}

#preview{
	width:80px;
	height:468px;
	top:0px;
	
	background: #ffffff;
	margin:10px auto;
	background:rgba(.9,.9,.9,.90);
}


#levelInfo{
	color:#fff;
	font-size:18px;
	margin:10px 0;
	background:rgba(.9,.9,.9,.70);
}
#level{
	color:orange;
	font-size:32px;
	background:rgba(.9,.9,.9,.70);
}

#scoreInfo{
	color:#fff;
	font-size: 18px;
	margin-top:0;
	background:rgba(.9,.9,.9,.70);
}

#score{
	color:orange;
	font-family: 'Chalkboard SE';
	background:rgba(.9,.9,.9,.70);
	
}#linesInfo{
	color:#fff;
	font-size: 18px;
	margin-top:0;
	background:rgba(.9,.9,.9,.70);
}

#lines{
	color:orange;
	font-family: 'Chalkboard SE';
	background:rgba(.9,.9,.9,.70);
}
#rewardInfo{
	color:yellow;
	font-weight: bold;
	height:20px;
}





.invisible{
	visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}