html,body{
	height:100%;
}

 /* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;} 


body{
	background: #000000;
	margin:0;
	padding:0;
	position: relative;
	font-family: Arial, Helvetica, sans-serif;
	overflow-x: hidden;
	overflow-y: hidden;
}
#divbg {
	pointer-events: none;
}
#bg {
	pointer-events: none;
}
#tetris{
	left:42%;
	top:50%;
	position: absolute;
	background: #555;
	background:rgba(1,1,1,.10);
	
}

#scene{
	height:100%;
	position: absolute;
	background: #2f2f2f;
	left:210px;
	background:rgba(1,1,1,.10);
}


#leftSide {
	height:100%;
	position: absolute;
	top:0px;
	left:0px;
	width:210px;
	text-align: center;
	background:rgba(1,1,1,.20);
}

#leftInfo{
	overflow:hidden;
	overflow-y:scroll;
	height:200px;
	width:200px;
	margin:0 auto;
	background:rgba(255,255,255,.20);
}

#leftInfo ul {padding:2%;}

#hold{
	position:relative;
	width:80px;
	height:435px;
	background: #2f2f2f;
	margin:10px auto;
	background:rgba(5,5,5,.60);
}

#gameOver{
	height:100%;
	position: absolute;
	right:120px;
	left:210px;
	background:rgba(0,0,0,.75);
	z-index:999;
	color:#ffe100;
	text-align: center;
	display: none;
}

#gameOver h1{
	margin-top:50%;
}

#gameOver a,#gameOver a:visited{
	color:#66bc29;
	text-decoration: none;
}

#gameOver h3{
	color:orange;
}

#side{
	height:100%;
	position: absolute;
	top:0;
	right:0;
	left:560px;
	text-align: center;
	background:rgba(.9,.9,.9,.70);
}

#info{
	width:210px;
	left:210px;
	margin:0 auto;
	background:rgba(.9,.9,.9,.70);
}

#preview{
	width:80px;
	height:468px;
	top:0px;
	
	background: #ffffff;
	margin:10px auto;
	background:rgba(.9,.9,.9,.90);
}


#levelInfo{
	color:#fff;
	font-size:18px;
	margin:10px 0;
	background:rgba(.9,.9,.9,.70);
}
#level{
	color:orange;
	font-size:32px;
	background:rgba(.9,.9,.9,.70);
}

#scoreInfo{
	color:#fff;
	font-size: 18px;
	margin-top:0;
	background:rgba(.9,.9,.9,.70);
}

#score{
	color:orange;
	font-family: 'Chalkboard SE';
	background:rgba(.9,.9,.9,.70);
	
}#linesInfo{
	color:#fff;
	font-size: 18px;
	margin-top:0;
	background:rgba(.9,.9,.9,.70);
}

#lines{
	color:orange;
	font-family: 'Chalkboard SE';
	background:rgba(.9,.9,.9,.70);
}
#rewardInfo{
	color:yellow;
	font-weight: bold;
	height:20px;
}





.invisible{
	visibility: hidden;
}

.animated {
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}


@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes fadeOutUp {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    -ms-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
}

.fadeOutUp {
  -webkit-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}